{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Connexion</h1>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}
                    <button type="submit" class="btn btn-success" formnovalidate>login</button>
                    &nbsp;
                    {#<a href="{{ path('user_register') }}">S'inscrire</a>#}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
{% endblock %}
